:root {
    --body-color:#FCF6F5;
    --white: white;
    --black: black;
    --basic: linear-gradient(to right bottom, #f1cb30, #f1b026, #ee9525, #e77a29, #dd5f2f, #dc5236, #d9443d, #d53544, #dd304f, #e32c5a, #ea2766, #ef2473);
    --standard: linear-gradient(to right bottom, #059aa0, #0089a4, #0077a5, #0063a1, #004d95, #05418c, #0d3582, #142977, #112572, #0d226e, #0a1e69, #061b65);
    --premium: linear-gradient(to right bottom, #89a106, #6c9e2a, #519a40, #389552, #1e8e61, #00866d, #007d75, #007478, #006778, #005976, #004b71, #033c67);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}
.pricing-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 10rem;

}

.pricing-plan{
    border: 0 solid transparent;
    border-radius: 22px;
    background-color: var(--white);
    flex-basis: 17rem;
    box-shadow:  8px 8px 16px #a0999e,
    -8px -8px 16px #ffffff;
    /*margin-top: 10rem;*/
}

/*section for card 1- basic*/
        .plan-title{
            border: 1px solid inherit;
            height: 8rem;
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
            text-align: center;
            padding-top: 1.5rem ;
        }

        p, h1 {
            margin: 0;
            padding: 0;
            color: var(--white);

        }

        h1{
            padding-bottom: 0.4rem;
            font-weight: normal;
        }


        hr{
            height: 0.3px;
            background-color: var(--white);
            border: 1px solid transparent;
            border-radius: 3rem;
            margin: 0 1.6rem;
        }


        p{
            font-size: 0.7rem;
            text-align: center;
            padding: 0.8rem  1rem 0 1rem;
            line-height: 1.7;
        }


        #basic{
            background-image:var(--basic);
        }

        .standard{
            background-image: var(--standard);

        }

        .premium{
            background-image: var(--premium);
        }

        .plan-price{
            margin: 2rem 0;
            text-align: center;
            position: relative;
            display: flex;
            align-items: end;
            justify-content: center;
        }

        .price{
            font-size: 3rem;
            font-weight: bold;
        }

        .dollar{
            /*display: inline;*/
            align-self: start;
            left: 3.5rem;
            font-size: 1.5rem;

            /*padding-bottom: -5rem;*/
        }

        #price-hr{
            height: 0.3px;
            background-color: #dcdbdb;
            border: 1px solid #dcdbdb;
            border-radius: 3rem;
            align-items: center;
            box-shadow:  17px 17px 44px #c2c1c1,
            -17px -17px 44px #f6f5f5;
            font-weight: lighter;
            margin: -0.5rem 7rem 1.8rem 4.5rem;
        }


        li{
            list-style: none;
            font-size: 0.9rem;
        }

        .plan-features{
            text-align: justify;
            margin-bottom: 3rem;
            font-size: 200;
            font-style: normal;
        }

        .user-feature{
            margin: 0.5rem 0;
        }

        .bulleting{
            height: 1rem;
            width:1rem;
            background-image: var(--basic);
            border-radius: 1rem;
            border: 0 solid transparent;
            color: white;
            padding: 0.5px;
            margin: 5px;
        }

        .plan-button{
            background-image: var(--basic);
            color: var(--white);
            padding: 0.5rem 2rem;
            border: 0 solid transparent;
            border-radius: 13px;
            margin: 0 2rem 2rem;
            font-size: 1.1rem;
            font-weight: 300;
            box-shadow:  8px 8px 16px #a0999e,
            -8px -8px 16px #ffffff;
        }

 /*section for card 2- standard */


        #price-hr-s{
            height: 0.3px;
            background-color: #dcdbdb;
            border: 1px solid #dcdbdb;
            border-radius: 3rem;
            align-items: center;
            box-shadow:  17px 17px 44px #c2c1c1,
            -17px -17px 44px #f6f5f5;
            font-weight: lighter;
            margin: -0.5rem 6rem 1.8rem 4.5rem;
        }

        .bulleting-s{
            height: 1rem;
            width:1rem;
            background-image: var(--standard);
            border-radius: 1rem;
            border: 0 solid transparent;
            color: white;
            padding: 0.5px;
            margin: 5px;
        }

    .plan-button-s{
        background-image: var(--standard);
        color: var(--white);
        padding: 0.5rem 2rem;
        border: 0 solid transparent;
        border-radius: 13px;
        margin: 0 2rem 2rem;
        font-size: 1.1rem;
        font-weight: 300;
        box-shadow:  8px 8px 16px #a0999e,
        -8px -8px 16px #ffffff;
    }

/*section for card 3- premium */

#price-hr-p{
    height: 0.3px;
    background-color: #dcdbdb;
    border: 1px solid #dcdbdb;
    border-radius: 3rem;
    align-items: center;
    box-shadow:  17px 17px 44px #c2c1c1,
    -17px -17px 44px #f6f5f5;
    font-weight: lighter;
    margin: -0.5rem 6rem 1.8rem 4.5rem;
}


.bulleting-p{
    height: 1rem;
    width:1rem;
    background-image: var(--standard);
    border-radius: 1rem;
    border: 0 solid transparent;
    color: white;
    padding: 0.5px;
    margin: 5px;
}

.plan-button-p{
    background-image: var(--premium);
    color: var(--white);
    padding: 0.5rem 2rem;
    border: 0 solid transparent;
    border-radius: 13px;
    margin: 0 2rem 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    box-shadow:  8px 8px 16px #a0999e,
    -8px -8px 16px #ffffff;
}


/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 600px) {
    .pricing-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
        margin-top: 5rem;
        padding: 0 7rem;
    }

    .pricing-plan{
        border: 0 solid transparent;
        border-radius: 22px;
        background-color: var(--white);
        flex-basis: 100%;
        box-shadow:  8px 8px 16px #a0999e,
        -8px -8px 16px #ffffff;
        margin-top: 2rem;
    }

    .plan-title {
        padding: 1rem 0;
    }

    p{
        font-size: 1rem;
        text-align: center;
        padding: 0.8rem  1rem 0 1rem;
        line-height: 1.7;
    }

}
