/*style section - for naming my colors*/
:root {
    --body-color:#FCF6F5;
    --white: white;
    --black: black;
    --basic: linear-gradient(to right bottom, #f1cb30, #f1b026, #ee9525, #e77a29, #dd5f2f, #dc5236, #d9443d, #d53544, #dd304f, #e32c5a, #ea2766, #ef2473);
    --standard: linear-gradient(to right bottom, #059aa0, #0089a4, #0077a5, #0063a1, #004d95, #05418c, #0d3582, #142977, #112572, #0d226e, #0a1e69, #061b65);
    --premium: linear-gradient(to right bottom, #89a106, #6c9e2a, #519a40, #389552, #1e8e61, #00866d, #007d75, #007478, #006778, #005976, #004b71, #033c67);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

/*this code is an incredibly easy way to center things in the middle with flexbox*/
    .pricing-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 3rem;
    }

/*style section - cards section code for all*/
    .pricing-plan{
        max-width: 300px;
        border-radius: 22px;
        background-color: var(--white);
        text-align: center;
        box-shadow:  8px 8px 16px #a0999e,
        -8px -8px 16px #ffffff;
}

/*style section - title section for all*/
        .plan-title{
            border: 1px solid inherit; /* removes the borderline color and makes it same as the container color*/
            padding: 20px; /*gives space around it instead of height*/
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
        }

        p, h1 {
            margin: 0;
            padding: 0;
            color: var(--white);

        }

        h1{
            padding-bottom: 0.4rem;
            font-weight: normal;
        }


        hr{
            height: 0.3px;
            background-color: var(--white);
            border: 1px solid transparent;
            border-radius: 3rem;
            margin: 0 1.6rem;
        }


        p{
            font-size: 0.7rem;
            text-align: center;
            padding: 0.8rem  1rem 0 1rem;
            line-height: 1.7;
        }

/*style section - Price section for all */
        .plan-price{
            margin: 2rem 0;
            display: flex;
            align-items: end; /* this aligned the figure and /mo in the price to the bottom*/
            justify-content: center;
            /* this is just to help with the $ sign staying up there
            I could have also applied positive - relative and applied position absolute
            on the dollar sign to get same result*/
        }

        .price{
            font-size: 3rem;
            font-weight: bold;
        }

        .dollar{
            align-self: start; /* this aligned the $ in the price to the top*/
            left: 3.5rem;
            font-size: 1.5rem;
        }

        .price-hr{
            height: 0.3px;
            background-color: #dcdbdb;
            border: 1px solid #dcdbdb;
            border-radius: 3rem;
            align-items: center;
            box-shadow:  17px 17px 44px #c2c1c1,
            -17px -17px 44px #f6f5f5;
            font-weight: lighter;
            margin: -0.5rem 6rem 1.8rem 4.5rem;
        }


/*style section - plan features for all */
        .plan-features{
            text-align: justify;
            margin-bottom: 3rem;
            font-style: normal;
        }

        li{
            list-style: none;
            font-size: 0.9rem;
        }


        .user-feature{
            margin: 0.5rem 0;
        }

        .bulleting{
            height: 1rem;
            width:1rem;
            border-radius: 1rem;
            border: 0 solid transparent;
            color: white;
            padding: 0.5px;
            margin: 5px;
        }


/*sign up button for all */
        .plan-button{
            color: var(--white);
            padding: 0.5rem 2rem;
            border: none; /* removes any color on border, which transparent doesn't do*/
            border-radius: 13px;
            margin: 0 2rem 2rem;
            font-size: 1.1rem;
            font-weight: 300;
            box-shadow:  8px 8px 16px #a0999e,
            -8px -8px 16px #ffffff;
        }



/*style section for card 1- basic*/

        #basic, .bullet-b, .button-b {
            background-image:var(--basic);
        }


 /* style section for card 2- standard */
        .standard, .bullet-s, .button-s{
            background-image: var(--standard);
        }


/*style  section for card 3- premium */

            .premium, .bullet-p, .button-p{
                background-image: var(--premium);
            }


/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
    .pricing-container{
        flex-direction: column;
        height: 100%;
    }
/*    I had issues with this initially and I wrote a lot of css with borders and margins
but setting max-width and height to 100vh for the horizontal and to 100% in the vertical resolved all these */

}
